@charset "UTF-8";

body {
    background-color: #ECF0F1;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 2.5em;
    color:  #2980B9;
}

.lista {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* footer */
.site {
    background-color: #ECF0F1;
    letter-spacing: 1px;
    height: 140px;
    text-align: center;
    padding-top: 20px;
    color: #2980B9;
    margin-top: 10px;
}

.pe {
    color: #2980B9;
    margin-bottom: 10px;
}

footer span {
    color: rgb(204, 119, 7);
}

.linha {
    /* border-top: 2px solid #2C3E50;  */
    width: 100%;
    max-width: 1000px;
    margin-left: 300px;
    margin-right: auto;
    border: 1px #F39C12;
    margin-bottom: 10px;
    opacity: 0.5;
} 

/* Responsividade */
@media (max-width: 768px) {
    .lista {
        margin: 20px;
        font-size: 18px;
    }

    header {
        font-size: 2em;
    }

    footer .site {
        padding-top: 10px;
    }
}