@charset "UTF-8";

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ECF0F1;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/*estilo da barra menu */

.item-menu {
    margin-left: -30px;
}
.bibi-listtamanho-btn{
    margin: 10px 10px 20px 20px;
}

/* Subtitulo para os videos*/

/* .h2_Dicas{
    margin-bottom: 150px;
    color: #2C3E50;
    background-color: white;
    box-shadow: 3px black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(253, 179, 6, 0.3);
}

/* Videos 
header {
    font-size: 40px;
    color: #2C3E50;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
    padding-top: 20vh;
    height: 100px;
    margin: auto;
    margin-bottom: 100PX;
    padding-top: 50px;
    background: linear-gradient(45deg, #ECF0F1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*color: rgb(178, 119, 9);*/

/*.video_section h3 {
    font-size: 30px;
    color: #2C3E50;
    margin: 100px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    background-color: white;
    text-shadow: 2px 2px 2px rgba(253, 179, 6, 0.3);
    height: 60px;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video_section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bloco_videos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 30px;
    margin-top: -180px;
}

iframe {
    margin: 28px;
    transition: all 0.2s;
}

iframe:hover {
    transform: scale(1.10);
}


.dicas {
    margin-bottom: 100px;
}


/* Videos para dicas

.bloco_videos2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.dicas {
    margin-bottom: 50px;
    margin: 28px;
    transition: all 0.2s;
    width: 450px; 
}

.dicas:hover {
    transform: scale(1.10);
}

.bloco_videos2 iframe {
    margin: 28px;
    transition: all 0.2s;
}

.bloco_videos2 iframe:hover {
    transform: scale(1.10);
}

/*Estilização da barra

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #2C3E50;
    box-shadow: 3px 0 0 #F39C12;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
} */

/* Barra */
nav.menu-lateral.expadir {
    width: 300px;
    
}

.btn-expandir {
    margin-left: auto;
    color: white;
    position: fixed;
    margin: 20px;
  }

nav.menu-lateral.expadir .txt-link {
    margin-left: 40px;
}

.btn-expadir {
    width: 100%;
    padding-left: 100px;
    position: relative;
}

.btn-expadir>i {
    font-size: 24px;
    cursor: pointer;
}



/* estilização da lista */
ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo>a>span.icon {
    color: #ffff;
}

ul li.item-menu:hover {
    background-color: #F39C12;
}

.item-menu.ativo {
    margin-top: 70px;
}

ul li.item-menu a {
    display: flex;
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
}

ul li.item-menu a .txt-link {
    font-size: 12pt;
    color: white;
    margin-left: 70px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    display: block;
    margin: 0px 60%;
    opacity: 1;
}
