@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(0, 102, 255);
    box-shadow: 0px 0px 10px gray;
    width: 100vw;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 10vh;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.logo:hover {
    font-size: 28px;
}

span {
    color: rgb(255, 145, 0);
}

nav .containerFlex {
    display: flex;
    flex-direction: row;
}

.navLista {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: -60vw;
    cursor: pointer;
}

.navLista li {
    list-style: none;
    color: white;
}

details summary {
    list-style: none;
    color: white;
    cursor: pointer;
}

.linkItem {
    text-decoration: none;
    color: white;
}

.login {
    border: none;
    padding: 10px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    color: rgb(255, 145, 0);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.login:hover {
    background: rgb(232, 241, 255);
}

.cards {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin: 12px;
}

.button {
    background-color: blue;
    color: white;
    width: 150px;
    text-decoration: none;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    height: 45px;
    display: flex;
    margin-top: 10px;
    text-align: center;
    margin-left: 30%;
}

.button3 {
    background-color: blue;
    color: white;
    width: 150px;
    text-decoration: none;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    height: 45px;
    display: flex;
    margin-top: 50px;
    margin-left: 30%;
}

img {
    width: 350px;
    height: 150px;
    margin-left: 15px;
}

.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 32px;
    color: white;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(108, 108, 108, 0.144)), url(../imagens/img_fundo_pag_principal_original.jpg);
    background-size: cover;
    background-position: center;

}

.page h1 {
    color: rgb(236, 139, 3);
    font-size: 40px;
    padding-top: 20vh;
}

.metodologia {
    padding-top: 10vh;
    text-align: center;
    color: blue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card-conteiner {
    background-color: white;
    width: 40vh;
    height: 35vh;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.199);
    margin: 20px;
    transition: all 0.5s;
}

.card-conteiner:hover {
    scale: 1.1;
}

.card-conteiner h2 {
    color: blue;
}

.card-conteiner img {
    height: 50px;
    width: 40px;
    background-color: orange;
    border-radius: 5px;
}