@charset "utf-8";

body{
    background-color: #ECF0F1;
}

main{
    background-color: #3498DB;
    width: max-content;
    margin: auto;
    border-radius: 15px;
}

.cards-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 900px;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: #BDC3C7;
    color: #2C3E50;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s;
    margin: 50px;
}

.card:hover{
    scale: 1.1;
}

#card2{
    height:35vh ;
    margin-top: 15vh;
}

.img-card1, .img-card3{ 
    margin-left: 5px;
    height: 50vh;
    width: auto;
    border-radius: 15px 15px 0 0;
    border: 2px solid #2C3E50;
}

.img-card2{
    height: 20vh;
    width: 50vh;
    border-radius: 15px 15px 0 0;
    border: 2px solid #2C3E50;
}

#card3{
    margin-left: 10px;
}

.img-card4{ 
    margin-left: 5px;
    height: 50vh;
    width: auto;
    border-radius: 15px 15px 0 0;
}

h1{
    text-align: center;
    background-color: #FFFFFF;
    color: #F39C12;
    width: 40vw;
    margin: auto;
    margin-top: 30px;
    border-radius: 0 0 20px 20px;
}

a{
    text-align: center;
    background-color: #F39C12;
    color: white;
    text-decoration: none;
    width: 40px;
    border-radius: 15px;
    padding: 7px;
} 


