
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ECF0F1;  
    color: #34495E; 
    line-height: 1.6;
}

/* Container das seções */
.main {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 150px; 
    flex-wrap: wrap;
}

/* Títulos */
h1 {
    color: #2C3E50;
    font-size: 24px;
    margin: 10px
}

/* Seções */
section {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section a {
    color: #2C3E50;
    text-decoration: none;
}

section:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagens */
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
