<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="style_cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200italic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
      <div class="card card1">
        <a href="..//"></a>
        <img src="d:\Conectivos.jpeg" alt="imagem1">
        <h1>Conectivos</h1>
        <p>Conectivos são palavras ou expressões que estabelecem ligação entre as ideias de um texto, permitindo que ele seja mais coeso. Eles podem indicar relações como causa, consequência, adição, oposição, explicação, entre outras.</p>     
   </div>
    <div class="card card2">
        <img src="d:\agente.jpeg" alt="imagem2">
        <h1>Meio/Modo</h1>
        <p>O "meio" ou "modo" se referem à forma ou maneira como algo é feito. No contexto de uma ação, o "modo" indica como ela é realizada, enquanto o "meio" pode se referir aos recursos ou ferramentas usadas para executá-la.</p>
        
  </div>
    <div class="card card3">
        <img src="d:\Citações.jpeg" alt="imagem3">
        <h1>Citações </h1>
        <p>Citações são trechos de textos, ideias ou falas de outros autores incorporados a um novo texto, com o objetivo de apoiar ou fundamentar um argumento. As citações são usadas para dar mais credibilidade ao texto.</p>
    </div>

</html>