<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_videos_e_atividades.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h4 class="titulo_header">COMO FAZER UMA REDAÇÃO ?</h4>
    </header>


    <main>

    </main>
    <h2>ATIVIDADES</h2>

    <div class="card_atividades">
        <section class="atividade">
            <a href="../atividades/atividade 1.pdf">
                <img src="../imagens/img.atv1.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 1</strong></p>

            </a>
        </section>

        <section class="atividade">
            <a href="../atividades/atividade 2.pdf">
                <img src="../imagens/img.atv2.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 2</strong></p>

            </a>
        </section>

        <section class="atividade">
            <a href="../atividades/atividade 3.pdf">
                <img src="../imagens/img.atv3.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 3</strong></p>

            </a>
        </section>

        <section class="atividade">
            <a href="../atividades/atividade 4.pdf">
                <img src="../imagens/img.atv4.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 4</strong></p>

            </a>
        </section>

        <section class="atividade">
            <a href="../atividades/atividade 5.pdf">
                <img src="../imagens/img.atv5.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 5</strong></p>

            </a>
        </section>

    </div>
    </div>
    </main>

</body>

</html>