<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200italic&display=swap" rel="stylesheet">
    <title> Conectivo, Meio/Modo e Citações</title>
</head>

<body>
    <div class="main">
        <section>
            <a href="../pdfs/Conectivos Educonect.pdf">
                <img src="../imagens/Conectivos.jpeg.jpg" alt="imagem1">

                <h1>Conectivos</h1>
                <p>São palavras ou expressões que estabelecem ligação entre as ideias de um texto, permitindo
                    que
                    ele seja mais coeso. Eles podem indicar relações como causa, consequência, adição, oposição,
                    explicação, entre outras.</p>
            </a>
        </section>

        <section>
            <img src="../imagens/agente.jpeg.jpg" alt="imagem2">
            <a href="../pdfs/Meio_Modo Educonect.pdf">

                <h1>Meio/Modo</h1>
                <p>O "meio" ou "modo" se referem à forma ou maneira como algo é feito. No contexto de uma ação, o "modo"
                    indica como ela é realizada, enquanto o "meio" pode se referir aos recursos ou ferramentas usadas
                    para executá-la.</p>
            </a>

        </section>

        <section>
            <img src="../imagens/Citações.jpeg.jpg" alt="imagem3">
            <a href="../pdfs/Citações Educonect.pdf">

                <h1>Citações </h1>
                <p>São trechos de textos, ideias ou falas de outros autores incorporados a um novo texto, com o
                    objetivo de apoiar ou fundamentar um argumento. As citações são usadas para dar mais credibilidade
                    ao
                    texto.</p>
            </a>
        </section>

</html>