<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/style_pag_principal_oficial.css">
    <title>EduConnect</title>
</head>

<body>

    <header>
        <nav class="menu-lateral">
            <div class="btn-expandir">
                <i class="bi bi-list tamanho-btn" id="btn-exp"></i>
            </div>

            <ul>
                <li class="item-menu ativo">
                    <a href="#">
                        <span class="icon"><i class="bi bi-house-door"></i></span>
                        <span class="txt-link">Home</span>
                    </a>
                </li>



                <li class="item-menu">
                    <a href="../templates/pag_card.html">
                        <span class="icon"><i class="bi bi-chat-dots"></i></span>
                        <span class="txt-link">Conectivos</span>
                    </a>
                </li>



                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-person-circle"></i></span>
                        <span class="txt-link">Conta</span>
                    </a>
                </li>



                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-gear"></i></span>
                        <span class="txt-link">Configuração</span>
                    </a>
                </li>

        </nav>

        <script src="../js/menu.js"></script>
    </header>

    <main>

        <div class="page">
            <h1> Sejam bem-vindos ao EduConnect</h1>
            <h2>Aqui você vai encontrar aulas que vão te ajudar a conseguir 900+ na Redação do ENEM.
                <h2>Você também vai encontra estruturas de Redação nota mil e modelos prontos para você corrigir falhas
                    e <br> adptar de acordo com o que você gosta no seu texto.</h2>
            </h2>
        </div>

        <h1 div class="metodologia">CONHEÇA A METODOLOGIA</h1>

        <div class="container">
            <div class="card-conteiner">
                <img src="../imagens/lapis.png" alt="lapís">
                <h2>Temas e Exemplos de Redação</h2>
                <p>Videoaulas exclusivas sobre temas
                    e exemplos de redação que te ajudarão a
                    aumentar o seu repertório sociocultural
                    para fazer uma boa argumentação.</p>
            </div>

            <div class="card-conteiner">
                <img src="../imagens/documento.png" alt="documento">
                <h2>Estruturas Da Redação</h2>
                <p>Explicações detalhadas sobre a estrutura
                    da redação para garantir uma escrita
                    coerente e clara.</p>
            </div>

            <div class="card-conteiner">
                <img src="../imagens/lampada.png" alt="lampada">
                <h2>Dicas de Português</h2>
                <p>Videoaulas com dicas de Português
                    para você evitar errinhos na
                    redação e mandar bem na sua nota.</p>
            </div>

            <div class="card-conteiner">
                <img src="../imagens/mira.png" alt="mira">
                <h2>Competências Avaliativas</h2>
                <p>Detalhamento das competências que
                    serão avaliadas em sua redação,
                    para que você saiba como ser pontuado.</p>
            </div>

            <div class="card-conteiner">
                <img src="../imagens/livro.png" alt="livro">
                <h2>Materiais de Apoio</h2>
                <p>Materiais de apoio para complementar seu apredizado e melhorar seu desempenho nas redações.</p>
            </div>

        </div>

        <h2 id="titulo-card">Aqui você aprende:</h2>

        <div class="cards">
            <div class="card">
                <img src="../imagens/aulas_redacao.jpeg" alt="img">
                <h2>Aulas de Redação</h2>
                <p>Desenvolva suas habilidades de escrita <br>
                    e aprenda técnicas para escrever redações de <br>
                    alto nível.</p>
                <a div class="button" href="../templates/pag_videos.html">Saiba Mais</a>
            </div>

            <div class="card">
                <img id="cardimg" src="../imagens/atividades_estruturas.jpg" alt="img">
                <h2>Atividades e estruturas de <br>
                    Redação para você desenvolver.</h2>
                <p>Desenvolva suas habilidades para fazer <br>
                    redação com este curso completo. <br>
                    Dê uma olhando em nossos modelos de Redação.</p>
                <a div class="button2" href="../templates/pag.atividades.html">Saiba Mais</a>
            </div>

            <div class="card">
                <img src="../imagens/modelos_redacao.webp" alt="img">
                <h2>Modelos de Redações <br>
                    nota mil.</h2>
                <p>Dê uma olhando nas redações nota mil <br> de cada ano do ENEM.</p>
                <a div class="button3" href="../templates/pag_redacao_notamil_comentadas.html">Saiba Mais</a>
            </div>


        </div>
    </main>

    <footer>

    </footer>

</body>

</html>