<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pag.estruturas.css">
    <script src="../js/pag.estrutura.js" defer></script>
    <title>EduConnect</title>
</head>

<body>

    <header>
        <h2 class="header_h2"> Tudo o que você precisa para produzir uma boa redação</h2>

        <p class="paragrafo_header"> <strong>Com as estruturas de redação, você vai economizar tempo. No 1º dia de prova
            do ENEM, você precisa
            fazer 90 questões e ainda dar conta de escrever a redação, ISSO É MUITO CANSATIVO! Desse modo, se
            você usar estruturas para a redação, você vai escrever rapidamente e restará muito mais tempo para
            resolver as questões!</strong></p>

    </header>


    <main>

        <div class="texto2">
            <div class="paragrafo">
                <h2>Mas isso perde a qualidade da redação?</h2>

                <p>Não, na verdade pode aumentar! Se você tem a introdução, organização dos argumentos, proposta de
                    intervenção
                    e citações em uma ordem estratégica que funciona, <strong>VOCÊ VAI AUMENTAR SUA QUALIDADE DE ESCRITA
                        e ainda
                        DIMINUIR O TEMPO QUE VOCÊ GASTA PARA ESCREVER!</strong>
                <p>
            </div>

            <img class="img_mulher" src="../imagens/img_mulher_escrevendo.jpeg" alt="Mulher escrevendo">
        </div>


        <div class="card">

            <section class="requisitos" id="redacao_estruturas">

                <a href="../pdfs/pdf_redaçao.pdf">
                    <img src="../imagens/img_estrutura_de_redacao.jpg" alt="Estruturas de Redação">
                    <h1>ESTRUTURAS DE REDAÇÃO</h1>
                    <p>
                        As estruturas de redação pré prontas são TUDO aquilo que você precisa para escrever mais rápido
                        e conquistar o 800 no ENEM.
                    </p>
                </a>

            </section>

            <section class="requisitos" id="redacao_conectivos">
                <a href="pag_conectivo.html">

                    <img src="../imagens/img_conectivos.jpg" alt="Conectivos">

                    <h1>Conectivos</h1>

                    <p>
                       As atividades do nosso site foram criadas com o intuito de ajudar os assinantes do curso a compreender e praticar.
                    </p>
                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../templates/pag_temas.html">
                    <img src="../imagens/img_temas_de_redacao.jpg" alt="Temas de Redação">

                    <h1>TEMAS DE REDAÇÃO</h1>

                    <P>
                        Lista com diversos agentes e destalhamentos para usar na proposta de intervenção da sua redação.
                    </P>
                </a>
            </section>


    </main>

    <footer>
        <div class="site">
            <div class="pe"> <br>
                <h2><strong>Edu<span>Connect</span></strong></h2>
            </div>

            <div class="linha">
                <hr>
            </div>
            <p>&copy; 2024 EduConnect. Todos os direitos reservados. </p>
        </div>
            
    </footer>



</body>

</html>