<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_Redacao.css">
    <script src="../js/pag.estrutura.js" defer></script>
    <title>Temas</title>
</head>

<body>
    <header>
        <p><strong> Temas de Redação </strong></p>
    </header>

    <main>

        <div class="card">
            <section class="requisitos" class="agentes">
                <a href="../pdfs/Meio Ambiente.pdf">
                    <img src="../imagens/img.ambiente.jpg" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Meio Ambiente</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/Questões Sociais.pdf">
                    <img src="../imagens/img.sociedade.jpg" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Questões Sociais</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/Saúde e Ciência.pdf">
                    <img src="../imagens/img.saude.jpg" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Saúde e Ciência</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/Arte e Cultura.pdf">
                    <img src="../imagens/img.arte.png" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Arte e Cultura</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/Economia.pdf">
                    <img src="../imagens/img.economia.jpg" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Economia</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/DIREITO E CIDADANIA.pdf">
                    <img src="../imagens/img.cidadania.jpeg" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Direito e Cidadania</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/EIXO EDUCAÇÃO.pdf">
                    <img src="../imagens/img.educaçao.webp" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Educação</strong></p>

                </a>
            </section>

            <section class="requisitos" class="agentes">
                <a href="../pdfs/EIXO TECNOLOGIA.pdf">
                    <img src="../imagens/img.tecnologia.webp" alt="Lista de agentes">

                    <p class="ambiente"><strong>Eixo Tecnologia</strong></p>

                </a>
            </section>

        </div>

        <div>
            <h2>Atividades</h2>
            <p><a href="../atividades/atividade 1.pdf">Atividade 1:</a> </p>
        </div>

    </main>

    <footer>
        <div class="site">
            <div class="pe"> <br>
                <h2><strong>Edu<span>Connect</span></strong></h2>
            </div>

            <div class="linha">
                <hr>
            </div>
            <p>&copy; 2024 EduConnect. Todos os direitos reservados. </p>
        </div>

    </footer>

</body>

</html>