<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../js/esqueceu_senha_interativo.js" defer></script>
    <link rel="stylesheet" href="../css/recuperacao_senha.css">
    <title>Recuperação de senha</title>

</head>

<body> 

    <form id="form" action="">

        <div>
            <p class="titulo">Esqueceu sua senha?</p>

            <div class="bloco_input">
                <p><label for="idSenha">Nova senha:</label>
                    <input type="text" id="idSenha" class="inputusuario" placeholder="Digite a sua nova senha">

                    <i class="fas fa-eye" id="toggleIconeRevelaSenha1"></i>
                </p>
                
                <p><label for="novaSenha"> Digite novamente:</label>
                    <input type="password" id="novaSenha" class="inputusuario2" placeholder="Digite novamente">

                    <i class="fas fa-eye" id="toggleIconeRevelaSenha2"></i>
                </p>
            </div>

            <div class="loginNoMeio">
                <button class="botaoEnviar" type="submit">Enviar</button>
            </div>

    </form>

    </div>

    <script src="esqueceu_senha_interativo.js"></script>

</body>

</html>