<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login_interativo.js" defer></script>
    <title>Login do usuário</title>
</head>

<body>
    <form id="form">
        <div>
            <p class="login">Login</p>
            <p>
                <!-- local de inserir o nome -->
                <label for="inome">Nome:</label>
                <input type="text" id="inome" class="inputusuario" placeholder="Digite o seu nome">
            </p>
            <p>
                <!-- local de inserir a senha -->
                <label for="idsenha">Senha:</label><br>
                <input type="password" id="idsenha" class="inputusuario" placeholder="Digite a sua senha">
                <i class="fas fa-eye" id="toggleIconeRevelaSenha"></i>
            </p>

            <!-- link para caso o usuário esqueça a senha -->
            <p class="esqueceuSenha">
                <a href="./pag_recuperacao_senha.html" target="_self" rel="next">Esqueceu sua senha?</a>
            </p><br>
            <!-- botão de entrar no site -->
            <div class="loginNoMeio">
                <button class="botaoEnviar" type="submit">Entrar</button>
            </div>
        </div>
    </form>
    <script src="./login_interativo.js"></script>
</body>

</html>