<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redações nota mil</title>
    <link rel="stylesheet" href="../css/style_redacao_notamil_comentadas.css">
</head>
<body>
    
    <main>
        <h1>VEJA REDAÇÕES NOTA MIL</h1>
        
        <div class="cards-container">
            <div class="card">
                <img class="img-card1" src="../imagens/texto_motivador.jpeg" alt="tema de 2023">

                <h2>Tema de redação de 2023</h2>

                <a href="../pdfs/Redações Nota 1000 (1).pdf" download="download pdf"> Download do pdf</a>
            </div>

            <div id="card2" class="card">
                 <img class="img-card2" src="../imagens/img_nota_mil.jpeg" alt="img.nota.mil">

                 <h2>Redações nota mil comentadas</h2>

                 <a href="../pdfs/CdR_Ebook_RedacoesComentadas.pdf" download="download pdf"> Download do pdf</a>
            </div>

            <div id="card3" class="card">
                <img class="img-card3" src="../imagens/capa_nota_mil(1).jpeg" alt="tema de 2022">

                <h2>Tema de redação de 2022</h2>

                <a href="../pdfs/Cartilha Redação a Mil 5.0 - Lucas Felpi.pdf" download="download pdf"> Download do pdf</a>
           </div>

           <div  class="card">
            <img class="img-card4" src="../imagens/capa_nota_mil(2).jpeg" alt="tema de 2021">

            <h2>Tema de redação de 2021</h2>

            <a href="../pdfs/Cartilha Redação a Mil 4.0 - Lucas Felpi.pdf" download="download pdf"> Download do pdf</a>
            </div>
        </div>

    </main>
</body>
</html>