<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_videos_e_atividades.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h4 class="titulo_header">COMO FAZER UMA REDAÇÃO ?</h4>
    </header>


    <main>
        <div class="bloco_videos">
            <div class="video_section">

                <h3>INTRODUÇÃO</h3>

                <iframe width="450" height="250" src="https://www.youtube.com/embed/WfP2bl5xb5E?si=3vQI_Uj2qD8ao81_"
                    title="Video de Introdução" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="video_section">

                <h3>DESENVOLVIMENTO</h3>

                <iframe width="450" height="250" src="https://www.youtube.com/embed/tDwcYr_-j0g?si=HQNKqGZC3WKhA528"
                    title="Video de Desenvolvimento" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="video_section">

                <h3>CONCLUSÃO</h3>

                <iframe width="450" height="250" src="https://www.youtube.com/embed/LcTBcoKjk7U?si=mKiUm7e5cN2Sxud_"
                    title="Video de Conclusão" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </div>

        <h2>DICAS PARA A SUA REDAÇÃO</h2>

        <div class="bloco_videos2">
            <div class="video_section">
                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/eI8R8Eyv9vQ?si=nLlK1qwcfP-YN7UH" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/xuIkJ8SULrE?si=rWXjzcViGtdD_tkP" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/u__FkKMS69I?si=LworQTrikYKuCPtq" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/vJ_6qtvHCUg?si=vPRGKBnd_PG24RcZ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/2uWYhLroT_g?si=w_CYMS6vjHOi2URk" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <iframe class="dicas" width="450" height="250"
                    src="https://www.youtube.com/embed/IhhJsw0z7Aw?si=9LNaK83u9kkOldA6" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h2>ATIVIDADES</h2>
     
        <div class="card_atividades">
            <section class="atividade">
                <a href="../atividades/atividade 1.pdf">
                    <img src="../imagens/img.atv1.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 1</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 2.pdf">
                    <img src="../imagens/img.atv2.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 2</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 3.pdf">
                    <img src="../imagens/img.atv3.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 3</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 4.pdf">
                    <img src="../imagens/img.atv4.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 4</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 5.pdf">
                    <img src="../imagens/img.atv5.jpg" alt="Lista de agentes">

                <p class="texto"><strong>Atividade 5</strong></p>

                </a>
            </section>

            </div>
        </div>
    </main>

</body>

</html>